<article class="post">
    <div class="title">
        <a href="/post/{{id}}">{{title}}</a><span class="writer">Posted by: {{user.username}} on {{format_date created_at}}</span>
    </div>
    <div class="postBody">
        <p>{{post_body}}</p>
        <a href="/post/{{id}}">{{comments.length}} Comments</a>
    </div>
</article>